<div class="bg-white">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="../../../assets/LogoOficial.webp" height="40" class="mr-2" />
    </ng-template>
    <ng-template pTemplate="end">
      <div class="flex flex-row items-center space-x-8">
        <i class="pi pi-inbox text-2xl"></i>
        <i class="pi pi-bell text-2xl"></i>
        <p-avatar image="../../../assets/IMG_20230520_193752793_MF_PORTRAIT.jpg" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
      </div>

    </ng-template>
</p-menubar>

</div>
